<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Create section</title>
</head>
<body>
<form id = "section" action="/admin/deleteSection" method="DELETE">
    <p>
        <label for="id">section id</label>
        <input id ="id" name="id" >
    </p>
    <p><input type="submit"></p>
    <script>
        document.getElementById('section').addEventListener('submit', submitForm);
        function submitForm(event) {
            // Отменяем стандартное поведение браузера с отправкой формы
            event.preventDefault();

            // event.target — это HTML-элемент form
            let formData = new FormData(event.target);

            // Собираем данные формы в объект
            let obj = {};
            formData.forEach((value, key) => obj[key] = value);
            // Собираем запрос к серверу
            let request = new Request(event.target.action, {
                method: 'POST',
                body: JSON.stringify(obj),
                headers: {
                    'Content-Type': 'application/json',
                },
            });
            console.log( JSON.stringify(obj));
            alert(JSON.stringify(obj));
            // Отправляем (асинхронно!)
            fetch(request).then(
                function(response) {
                    // Запрос успешно выполнен
                    console.log(response);
                    alert("статус выполнения запроса: "+ response.status + ", " + response.ok);
                    // return response.json() и так далее см. документацию
                    location.reload(true); /*true - загрузка с сервера , false - с кеша*/
                },
                function(error) {
                    // Запрос не получилось отправить
                    console.error(error);
                }
            );

            // Код после fetch выполнится ПЕРЕД получением ответа
            // на запрос, потому что запрос выполняется асинхронно,
            // отдельно от основного кода
            console.log('Запрос отправляется');
        }
    </script>
</form>
</body>
</html>