<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Conf registration</title>
</head>
<body>
<div align="center">
<h1>Welcome to the conference</h1>

<p>Click <a th:href="@{/chooseRole}">here</a> for registration</p>
<p><img src="https://upload.wikimedia.org/wikipedia/commons/4/4a/Marmot_in_Grand_Teton_NP-NPS.jpg" width="500" height="400"></p>
</div>
</body>
</html>